# Copy this file to .env.development and .env.production
# Local Development URLs:
VITE_LIVE_DATA_URL=http://localhost:8080/trains
VITE_SHAPES_URL=http://localhost:8080/shapes

# Production S3 URLs (Replace with your actual AWS Bucket URL):
# VITE_LIVE_DATA_URL=https://YOUR-BUCKET-NAME.../live_data.json